/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import "primeng/resources/themes/md-light-indigo/theme.css";
@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";
@import "primeflex/primeflex.css";
@import "./theme/variables.scss";
@import "./theme/theme.css";

* {
  font-family: var(--ion-font-family);
}

/* App-wide Material-like buttons to keep consistent look */
.app-btn {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  padding: 8px 12px;
  border-radius: 8px;
  text-transform: none;
  font-weight: 600;
}

.app-btn-icon { width: 36px; height: 36px; display:inline-flex; align-items:center; justify-content:center }

.app-action-fab { height:32px; width:32px; min-width:32px; }

/* Make mat-form-field clicks safer when mat-inputs are used in custom templates */
mat-form-field { width: 100%; }

p-button {
  span {
    color: var(--ion-color-primary-contrast);
  }
}

.section {

  &.bloque {
    min-height: 100%;
    height: 100%;
    background-color: var(--ion-color-light);
  }

  &.conv_bloque {
    background-color: var(--ion-color-primary-contrast);
    overflow-y: auto;
    height: calc(100vh - 215px);
    max-height: calc(100vh - 215px);
    padding: 0px 10;
    overflow-x: hidden;
  }
}

.chat-message {
  width: 75%;
  padding: 0;
  margin-top: 4px;

  .p-element {
    padding: 0;
  }

  .p-card {
    .p-card-header {
      background: lightgrey;
      padding: 15px 25px;
      border-radius: 15px 15px 0 0;
      text-align: right;
      font-size: 12px;
      font-weight: bold;
    }

    .p-card-body {
      padding: 0 25px 15px;
    }

    .p-card-footer {
      padding: 0;
      opacity: 0.5;
    }
  }

  &.userMessage {
    margin-left: auto;

    .p-card {
      background-color: white !important;
      border-radius: 15px 0 15px 15px;
      margin-bottom: 25px;
      margin-right: 25px;
    }

    .p-card-content {
      padding-bottom: 0;
    }

    .p-card-header {
      background-color: var(--ion-color-secondary);
      border-radius: 15px 0 0 0;

      &::before {
        content: "Usuario";
        float: left;
        color: $primaryColor;
      }
    }
  }

  &.systemMessage {
    .p-card {
      background-color: white !important;
      border-radius: 0 15px 15px 15px;
    }

    .p-card-header {
      border-radius: 0 15px 0 0;
      background-color: $primaryColor;

      &::before {
        content: "AgenteIA";
        float: left;
        color: var(--ion-color-light);
      }

      span {
        color: var(--ion-color-light);
      }
    }
  }
}

.systemMessage,
.userMessage {
  font-size: 14px !important;
  font-weight: normal;
}

.p-inplace-display {
  margin-left: -15px;
  span {
    font-size: 15px;
    line-height: 125%;
  }
}

.p-inplace-content {
  input{
    position: relative;
    top: -0.75em;
    font-size: 15px;
    left: -8px;
    border: none;
    background-color: var(--ion-color-light);
    padding:5px;
  }
  button{
    position: relative;
    top: -0.5em;
    background-color: transparent;
    border: none;
    color: var(--ion-color-primary);
  }
}

.icono_p{
button{
  height: 2rem !important;
  width: 2rem !important;
}
}
