node_modules
dist
.angular
.git
.gitignore
README.md
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env
.vscode
.idea
*.swp
*.swo
*~
.DS_Store
coverage
e2e
.editorconfig
karma.conf.js
tsconfig.spec.json
tslint.json
protractor.conf.js
**/*.spec.ts
**/*.spec.js
.github
.gitlab-ci.yml
.travis.yml
Jenkinsfile
*.min.js
*.min.css

